*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    
                
}
.header{
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    border: 1px solid #1B244A;
    width: 500px;
    text-align: center;
    padding: 5px 0;
    color: yellow;
}
    
.container{
background-color: #1B244A;
height: 300px;
width: 500px;
display: flex;
justify-content: space-around;
align-items: center;
}
.teamname{
    font-family: sans-serif;
    font-weight: 900;
    font-size: 36px;
    color: wheat;
}
.home{
    height: 250px;
    text-align: center;
    width: 150px;
    background-color: #1B244A;
}
.guest{
    height: 250px;
    text-align: center;
    width: 150px;
    background-color: #1B244A;
}
.basket{
    background-color: black;
    width: 146px;
    height: 100px;
    color: crimson;
    font-family:  'DotGothic16', sans-serif;
    font-size: 70px;
    margin: 0 auto;
    font-weight: 600;
}
.click{
   margin-top: 20px;
   display: flex;
   justify-content: space-around;
}

   button{
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid  #9AABD8;;
    color: yellowgreen;
    background-color: #1B244A;
    font-size: 20px;
    font-weight: 900;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    cursor: pointer;
   } 

   